footer {
    background-color: #7127FF;
    padding: 60px 0;
    width: 100%;
    bottom: 0;
    line-height: 1.5;
    font-family: "Roboto";
    display: flex;
}

footer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-footer {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-footer {
    width: 316px;
    height: auto;
}

ul {
    list-style: none;
}

.footer-col {
    flex: 1;
    padding: 0 15px;
    max-width: 300px;
    margin-bottom: 20px;
}

.footer-col h4 {
    color: #fff;
    position: relative;
    font-size: 25px;
    margin-bottom: 30px;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FFF;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: rgba(39, 1, 64, 1);
    padding-left: 8px;
}

.footer-col h4:hover {
    color: rgba(39, 1, 64, 1);
    padding-left: 8px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-col ul li a {
        display: block;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        margin: 5px 0;
    }

    .footer-col ul li a:hover {
        color: rgba(39, 1, 64, 1);
        padding-left: 10px;
    }

    .footer-col h4 {
        font-size: 20px;
    }

    .footer-col h4::before {
        display: none;
    }
}